.hero {
    position: relative;
    display: block;
}

.store__img {
    display: block;
    width: 100%;
    height: auto;
}

.store__details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.6);
    color: #DEE2EC;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.store__address,
.store__hours {
    margin: 0;
    padding: 10px;
    font-size: 2rem;
}

@media (max-width:44rem) {
    .hero {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .store__address,
    .store__hours {
        font-size: 1.3rem;
    }

    .store__details {
        position: initial;

        color: black;
        padding: 6rem;
        padding-top: 13.5rem;
        padding-bottom: 13.5rem;

        background-color: white;
    }
}